/bin/*.html
/cost-measurement/*.data
/cost-measurement/*.png
/cost-measurement/bin/
/cost-measurement/kerns
/function-generation/*.c
/function-generation/*.fpt
/function-generation/*.tmp
/requirements/FPTaylor/
/requirements/debug_eniroment.sh
/requirements/gelpia/
/requirements/log.txt
__pycache__
log
tmp